@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.home-main-text {
  text-shadow: 1px 3px 7px BLACK;
}

.home-button {
  background-color: #ECE5DD;
  color: #2F4443;
}

.slider-image{
  box-shadow: 6px 10px 34px -8px rgba(0,0,0,0.66);
}

.slider-image:hover{
  box-shadow: none;
}

.view-more{
  z-index: 100;
  opacity: 0%;
}

.view-more-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0%;
  z-index: 2;
  background-color: black;
}

.view-more-parent:hover .view-more{
  opacity: 100%;
}

.view-more-parent:hover .view-more-overlay{
  opacity: 30%;
}